@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* RESET */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: lightslategray;
  margin: 0;
}
