body {
  background-color: grey;
}

[data-button] {
  width: 256px;
  border-radius: 20px;
  height: 40px;
  border: 0;
  color: white;
  background-color: #181b21;

  font-size: 14px;
  font-family: "Roboto";
}

[data-light="true"] {
  background-color: #e3e3e3;
  color: #000;
}
